.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 2.5% 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
    .tableContainer{
        display: flex;
        flex-direction: column;
    
        .table{
            height: 100%;
        }
    }
    h3{
        color: black;
    }
}